{% extends "etudiant/profil/base.html.twig" %}

{% block title %} {{ ("SAISIE DES NOTES DE " ~ examen.intitule ~ " DE" ~ inscription.etudiant.nom ~ " " ~ inscription.etudiant.prenom)|upper }} {% endblock %}

{% block pageTitle %}
    {{ ("SAISIE DES NOTES DE " ~ examen.intitule ~ " DE" ~ inscription.etudiant.nom ~ " " ~ inscription.etudiant.prenom)|upper }}
{% endblock %}

{% block navSearchFormMethod %}{{ "GET" }}{% endblock %}
{% block navSearchFormAction %}{{ path('etudiants', {'slug': annee.slug}) }}{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item"><a href="">{{"notes"}}</a></li>
    <li class="breadcrumb-item active">{{"saisir"}}</li>
{% endblock %}

{% block profileContent %}
    {% if inscription.contrats is defined and inscription.contrats is not empty %}
        <form action="" method="post">
            <table class="table table-bordered table-hover">
                <thead class="table-head-fixed">
                    <tr>
                        <th>#</th>
                        <th>{{ "Unité d'enseignement" }}</th>
                        <th>{{ "Elément constitutif" }}</th>
                        <th>{{ "Crédit" }}</th>
                        <th>{{ "Semestre" }}</th>
                        <th>{{ "Notes (sur 20)" }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for c in inscription.contrats %}
                        {% set i = i+1 %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ (c.ecModule.module.intitule ~ " - " ~ c.ecModule.module.code)|upper }}</td>
                            <td>{{ (c.ecModule.ec.intitule ~ " - " ~ c.ecModule.ec.code)|upper }}</td>
                            <td>{{ c.ecModule.credit }}</td>
                            <td>{{ c.ecModule.semestre }}</td>
                            <td>
                                {% set oldNote = examen.type|upper == 'E' ? c.noteSN : (examen.type|upper == 'C' ? c.noteCC : c.noteSR) %}
                                {% if errorData is defined and errorData and oldNotes and oldNotes[i - 1] is not empty %}
                                    {% set oldNote = oldNotes[i - 1]['note'] %}
                                    {% if oldNotes[i - 1]['error'] is defined %}
                                        <label style="font-size: 11px;" for="note_{{ i }}" class="text-red"><i class="badge badge-danger">{{ "error" }}</i> {{ oldNotes[i - 1]['error'] }}</label>
                                    {% endif %}
                                {% endif %}
                                <input id="note_{{ i }}" type="hidden" name="etudiant[{{i}}][contrat]" value="{{ c.id }}">
                                <input pattern="[0-9]+(\.[0-9]+)?" value="{{ oldNote }}" name="etudiant[{{i}}][note]" type="text" class="form-control">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> {{ "Enregistrer les notes" }}</button>
            </div>
        </form>
    {% else %}
        <h1 class="align-text-center">{{ "AUCUN ETUDIANT TROUVE" }} <i class="fa fa-angry"></i></h1>
    {% endif %}
{% endblock %}
