<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %} | GETIN-2.0</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ asset('dist/img/logo_getin.jpg') }}" type="image/ico"/>
        {% block stylesBlock %}
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- DataTables -->
            <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
            <!-- overlayScrollbars -->
            <link rel="stylesheet" href="{{ asset('plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
            <!-- Select2 -->
            <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
            
            <!-- SweetAlert2 -->
            <link rel="stylesheet" href="{{ asset('plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
            <!-- Toastr -->
            <link rel="stylesheet" href="{{ asset('plugins/toastr/toastr.min.css') }}">
            <!-- Google Font: Source Sans Pro -->
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
            <!-- My Styles -->
        {% endblock %}
        
        <link rel="stylesheet" href="{{ asset('css/mystyles.css') }}">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link no-loader" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a target="_blank" href="{{ path('help') }}" class="nav-link"><i class="fa fa-question-circle"></i> {{"Aide"}}</a>
                    </li>
                    <li target="_blank" class="nav-item d-none d-sm-inline-block">
                        <a href="{{ path('aide_contact') }}" class="nav-link">{{"Contact"}}</a>
                    </li>
                </ul>
            
                <!-- SEARCH FORM -->
                <form method="{% block navSearchFormMethod %}{% endblock %}" action="{% block navSearchFormAction %}{% endblock %}" class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <input value="{% block navSearchFormInputValue %}{% endblock %}" name="search" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <select name="" id="switch-years" class="form-control form-control-navbar select2" aria-label="Search">
                            {{ render(controller('App\\Controller\\HomeController::fetchYears')) }}
                        </select>
                    </div>
                </div>
            
            
                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                    <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link no-loader" data-toggle="dropdown" href="#">
                            {% set profil_img = 'dist/img/avatar.png' %}
                            {% if app.user and app.user.employe is defined and app.user.employe.photo is defined and app.user.employe.photo %}
                                {% set profil_img = 'uploads/images/' ~ app.user.employe.photo %}
                            {% endif %}
                            <img style="width: 30px;height: 30px;border-radius:100%;" src="{{ asset(profil_img) }}" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">Actions possibles</span>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('employe_profile', {'reference': app.user.employe.reference}) }}" class="dropdown-item">
                                <i class="fas fa-user mr-2"></i> Profil
                            </a>
                            {% if is_granted('ROLE_SUPER_USER') %}
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('security_cloturer_annee', {'slug': app.session.get('annee').slug}) }}" class="dropdown-item">
                                    <i class="fas fa-users mr-2"></i> Cloturer l'année
                                </a>
                            {% endif %}
                            
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('security_logout') }}" class="dropdown-item">
                                <i class="fas fa-sign-out-alt mr-2"></i> Déconnexion
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- /.navbar -->
            {% if app.user %}
                <!-- Main Sidebar Container -->
                {% include "includes_for_base_template/menu_principale.html.twig" %}
            {% endif %}
            
            
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>{% block pageTitle %}{% endblock %}</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="{{ path('home') }}">{{"Accueil"}}</a></li>
                                    {% block fil_ariane %}{% endblock %}
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div {% block contenairWidth %}class="col-12"{% endblock %}>
                                {% for error in app.flashes('errors') %}
                                    <div class="alert alert-warning alert-dismissible">
                                        <button class="close" type="button" aria-hidden="true" data-dismiss="alert">×</button>
                                        <h5>
                                            <i class="icon fas fa-exclamation-triangle"></i>
                                            {{ "Attention" }}
                                        </h5>
                                        {{ error|raw }}
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success alert-dismissible">
                                        <button class="close" type="button" aria-hidden="true" data-dismiss="alert">×</button>
                                        <h5>
                                            <i class="icon fas fa-check"></i>
                                            {{ "Succès" }}
                                        </h5>
                                        {{ message|raw }}
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('danger') %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button class="close" type="button" aria-hidden="true" data-dismiss="alert">×</button>
                                        <h5>
                                            <i class="icon fas fa-ban"></i>
                                            {{ "Danger" }}
                                        </h5>
                                        {{ message|raw }}
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('info') %}
                                    <div class="alert alert-info alert-dismissible">
                                        <button class="close" type="button" aria-hidden="true" data-dismiss="alert">×</button>
                                        <h5>
                                            <i class="icon fas fa-info"></i>
                                            {{ "Info" }}
                                        </h5>
                                        {{ message|raw }}
                                    </div>
                                {% endfor %}
                                {% block defaultContent %}
                                    <!-- Default box -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">{% block contentTitle %} {% endblock %}</h3>
                                        </div>
                                        <div class="card-body">
                                            {% block page_content %}{% endblock %}
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            {% block footerContent %}{% endblock %}
                                        </div>
                                        <!-- /.card-footer-->
                                    </div>
                                    <!-- /.card -->
                                {% endblock %}
                                
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                <b>Version</b> 2.0.1
                </div>
                <strong>Copyright &copy; 2019 <a href="">MetCorp</a>.</strong> All rights
                reserved.
            </footer>

            {% include "includes_for_base_template/modals.html.twig" %}

        </div>
        <!-- ./wrapper -->

        {% block jsBlock %}
            <!-- jQuery -->
            <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
            <!-- Bootstrap 4 -->
            <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <!-- Select2 -->
            <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
            <!-- DataTables -->
            <script src="{{ asset('plugins/datatables/jquery.dataTables.js') }}"></script>
            <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
            
            <!-- SweetAlert2 -->
            <script src="{{ asset('plugins/sweetalert2/sweetalert2.min.js') }}"></script>
            <!-- Toastr -->
            <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
            <!-- overlayScrollbars -->
            <script src="{{ asset('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
            <!-- AdminLTE App -->
            <!-- Bootstrap Switch -->
            <script src="{{ asset('plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>

            <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
        {% endblock %}

        <script type="text/javascript">
            $(function() {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
          
                $('.swalDefaultSuccess').click(function() {
                    Toast.fire({
                    type: 'success',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.swalDefaultInfo').click(function() {
                    Toast.fire({
                    type: 'info',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.swalDefaultError').click(function() {
                    Toast.fire({
                    type: 'error',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.swalDefaultWarning').click(function() {
                    Toast.fire({
                    type: 'warning',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.swalDefaultQuestion').click(function() {
                    Toast.fire({
                    type: 'question',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
            
                $('.toastrDefaultSuccess').click(function() {
                    toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
                });
                $('.toastrDefaultInfo').click(function() {
                    toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
                });
                $('.toastrDefaultError').click(function() {
                    toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
                });
                $('.toastrDefaultWarning').click(function() {
                    toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
                });
            
                $('.toastsDefaultDefault').click(function() {
                    $(document).Toasts('create', {
                    title: 'Toast Title',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultTopLeft').click(function() {
                    $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'topLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultBottomRight').click(function() {
                    $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomRight',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultBottomLeft').click(function() {
                    $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultAutohide').click(function() {
                    $(document).Toasts('create', {
                    title: 'Toast Title',
                    autohide: true,
                    delay: 750,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultNotFixed').click(function() {
                    $(document).Toasts('create', {
                    title: 'Toast Title',
                    fixed: false,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultFull').click(function() {
                    $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    icon: 'fas fa-envelope fa-lg',
                    })
                });
                $('.toastsDefaultFullImage').click(function() {
                    $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    image: '../../dist/img/user3-128x128.jpg',
                    imageAlt: 'User Picture',
                    })
                });
                $('.toastsDefaultSuccess').click(function() {
                    $(document).Toasts('create', {
                    class: 'bg-success', 
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultInfo').click(function() {
                    $(document).Toasts('create', {
                    class: 'bg-info', 
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultWarning').click(function() {
                    $(document).Toasts('create', {
                    class: 'bg-warning', 
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultDanger').click(function() {
                    $(document).Toasts('create', {
                    class: 'bg-danger', 
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });
                $('.toastsDefaultMaroon').click(function() {
                    $(document).Toasts('create', {
                    class: 'bg-maroon', 
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                });

                $("table#example1").DataTable({
                    "lengthMenu": [[25, 50, 75, 100, -1], [25, 50, 75, 100, "All"]]
                });
                $('table#example2').DataTable({
                  "paging": true,
                  "lengthChange": false,
                  "searching": false,
                  "ordering": true,
                  "info": true,
                  "autoWidth": false,
                });

                //Initialize Select2 Elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })
                //Initialize Select2 Elements
                $('.select2').select2()

                $("input[data-bootstrap-switch]").each(function(){
                    $(this).bootstrapSwitch('state', $(this).prop('checked'));
                });
            });

        </script>
        
        <script>
            let $loader = $('#modal-overlay');
            let $filiere;
            let $specialite;
            let $level;
            const $successSon = '{{ asset("sons/son3.mp3") }}';
            const $warningSon = '{{ asset("sons/son1.mp3") }}';
            const $errorSon = '{{ asset("sons/son2.mp3") }}';
            const $ajaxErrorMsg = "Une erreur est survenue pendant l'opération ! Vérifier votre accès au réseau ou contacter l'administrateur pour une éventuelle maintenance";
            $('select').addClass('select2');

            function mySoNiceSound(s)
            {
                var e=document.createElement('audio');
                e.setAttribute('src',s);
                e.play();
            }

            function noStudentFound(arg=true, msg="Aucun etudiant n'a été trouvé !") {
                if (arg) {
                    mySoNiceSound($warningSon);
                    toastr.warning(msg);
                }
                else {
                    mySoNiceSound($successSon);
                    toastr.success(msg);
                }
            }


            function showLoader(status=true) {
                if (status) {
                    $loader.modal('show');
                }
                else {
                    $loader.modal("hide");
                }
            }

            $('.modal').data('backdrop', false);
            $('#modal-overlay').data('backdrop', true);
            
            $('.btn-delete').on("click", function(){
                if (!confirm("Cette action est irreversible ! \n Etes-vous sure de vouloir poursuivre cette opération ?")) {
                    return false;
                }
            });

            $('.dropdown-toggle, .btn-ajax-action, .btn-confirm-ajax-action, .btn-save-request, #first-next, #second-prev, #second-next, #first-prev, #last-prev, #tirth-prev, #tirth-next, #confirmation-btn').addClass('no-loader');

            $('a').each(function(){
                $(this).on('click', function(){
                    if (!$(this).hasClass('no-loader') && !$(this).hasClass('btn-edit-pourcentage') && $(this).data('toggle') !== 'modal') {
                        showLoader();
                        setTimeout(function(){
                            showLoader(false);
                        }, 3000);
                    }
                }); 
            });

            $('body, .scrollBar').overlayScrollbars({
                className: "os-theme-dark"
            });

            $('.btn-confirm-ajax-action').on("click", function(e){
                e.preventDefault();
                let $btn = $(this);
                let msg = $btn.data('confirm-message')
                if (msg == '' || msg == null || msg == undefined) {
                    msg = "Attention !!! cette action est irreversible, vous ne pourrez donc plus faire un retour en arrière si vous continuez. \n Etes-vous sure de vouloir poursuivre cette opération ?";
                }
                if (confirm(msg)) {
                    $.ajax({
                        url: $btn.attr("href"),
                        dataType: "JSON",
                        beforeSend: function() {
                            showLoader();
                        },
                        success: function(response) {
                            showLoader(false);
                            if (response.isDeleted) {
                                mySoNiceSound($successSon);
                                toastr.success(response.msg);
                                setTimeout(function(){
                                    window.location.reload();
                                }, 1000)
                            }else {
                                mySoNiceSound($warningSon);
                                toastr.warning(response.msg)
                            }
                        }
                    })
                }else {
                    showLoader(false)
                }
            })
            
            $('.btn-ajax-action').on("click", function(e){
                e.preventDefault();
                //if (confirm("Vous allez generer les contrats academiques pour tous les etudiants. Souhaitez-vous poursuivre cette operation ?")) {
                let $elt = $(this);
                $.ajax({
                    url: $elt.attr("href"),
                    dataType: "JSON",
                    beforeSend: function(){
                        showLoader();
                    }, 
                    success: function(response) {
                        showLoader(false);
                        if (!response.hasError) {
                            mySoNiceSound($successSon);
                            toastr.success(response.msg);
                            if (response.reloadWindow) {
                                setTimeout(function(){
                                    window.location.reload();
                                }, 2000)
                            }
                            
                        }else {
                            mySoNiceSound($warningSon);
                            toastr.warning(response.msg)
                        }
                    },
                    error: function() {
                        mySoNiceSound($errorSon);
                        showLoader(false);
                        toastr.error($ajaxErrorMsg);
                    }
                })
                // }
            })

            // Lorsqu'un formulaire est envoye en ajax avec les données
            $('.form-ajax-action').on("submit", function(e){
                e.preventDefault();
                let $elt = $(this);
                var formData = new FormData(this);
                $.ajax({
                    url: $elt.attr("action"),
                    type: $elt.attr("method"),
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "JSON",
                    beforeSend: function(){
                        showLoader();
                    }, 
                    success: function(response) {
                        showLoader(false);
                        if (!response.hasError) {
                            toastr.success(response.msg);
                            mySoNiceSound($successSon);
                            if (response.reloadWindow) {
                                setTimeout(function(){
                                    window.location.reload();
                                }, 4000);
                            }
                            
                        }else {
                            mySoNiceSound($warningSon);
                            toastr.warning(response.msg);
                        }
                    },
                    error: function() {
                        mySoNiceSound($errorSon);
                        showLoader(false);
                        toastr.error($ajaxErrorMsg);
                    }
                })
            })

            $('.form-confirm-ajax-action').on("submit", function(e){
                e.preventDefault();
                let $elt = $(this);
                if (confirm("Etes-vous sure de vouloir poursuivre cette action ?")) {
                    var formData = new FormData(this);
                    $.ajax({
                        url: $elt.attr("action"),
                        type: $elt.attr("method"),
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "JSON",
                        beforeSend: function(){
                            showLoader();
                        }, 
                        success: function(response) {
                            showLoader(false);
                            if (!response.hasError) {
                                toastr.success(response.msg);
                                mySoNiceSound($successSon);
                                if (response.reloadWindow) {
                                    setTimeout(function(){
                                        window.location.reload();
                                    }, 4000);
                                }
                                
                            }else {
                                mySoNiceSound($warningSon);
                                toastr.warning(response.msg);
                            }
                        },
                        error: function() {
                            showLoader(false);
                            toastr.error($ajaxErrorMsg);
                            mySoNiceSound($errorSon);
                        }
                    })
                }
            })

            $('#switch-years').on('change', function(e){
                var value = $(this).val();
                if (value != '') {
                    var url = '{{ path("switch_year") }}/'+value;
                    showLoader(true);
                    window.location.href = url;
                }
            });

            $('.btn').each(function(){
                $(this).addClass('btn-flat');
            });
            
            $('ul.pagination').each(function(){
                $(this).children().fadeOut();
                $(this).find('li').first().fadeIn();
                $(this).find('li.active').prev().prev().fadeIn();
                $(this).find('li.active').prev().fadeIn();
                $(this).find('li.active').fadeIn();
                $(this).find('li.active').next().fadeIn();
                $(this).find('li.active').next().next().fadeIn();
                $(this).find('li').last().fadeIn();
            });          
            
        </script>
        {% block javascript %}{% endblock %}
    </body>
</html>

